---

- name: Convert VM to template
  community.vmware.vmware_guest:
    hostname: "{{ lookup('env', 'VMWARE_HOST') | default(providers.vcenter.hostname) }}"
    username: "{{ lookup('env', 'VMWARE_USER') | default(providers.vcenter.username) }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') | default(providers.vcenter.password) }}"
    validate_certs: false
    datacenter: "{{ providers.vcenter.datacenter }}"
    cluster: "{{ providers.vcenter.cluster }}"
    uuid: "{{ instance.instance.uuid | default(omit) }}"
    name: "{{ template.name }}"
    is_template: true
    state: present
  when:
    - instance is defined
    - instance.instance is defined
    - template is defined

- name: Set template custom attributes
  ansible.builtin.include_tasks: set_custom_attributes.yml
  vars:
    vmware_custom_attributes_target_name: "{{ template.name }}"
  when:
    - instance is defined
    - instance.instance is defined
    - template is defined
  tags: post-config
