---

- name: Export OVF
  community.vmware.vmware_export_ovf:
    hostname: "{{ lookup('env', 'VMWARE_HOST') | default(providers.vcenter.hostname) }}"
    username: "{{ lookup('env', 'VMWARE_USER') | default(providers.vcenter.username) }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') | default(providers.vcenter.password) }}"
    datacenter: "{{ providers.vcenter.datacenter }}"
    uuid: "{{ instance.instance.uuid | default(omit) }}"
    name: "{{ template.name }}"
    export_with_images: false
    export_dir: "{{ export_dir }}/"
    download_timeout: 30
    validate_certs: false
  async: 7200
  poll: 0
  register: export_ovf_file

- name: Wait for OVF export to complete
  ansible.builtin.async_status:
    jid: "{{ export_ovf_file.ansible_job_id }}"
  register: ovf
  until: ovf.finished
  retries: "{{ instance_wait_retry_limit }}"
  delay: 10

- name: Create OVA archive
  community.general.archive:
    path: "{{ export_dir }}/{{ template.name }}/*"
    dest: "{{ export_dir }}/{{ template.name }}.ova"
    format: tar
    mode: "0644"

- name: Remove exported OVF directory
  ansible.builtin.file:
    path: "{{ export_dir }}/{{ template.name }}"
    state: absent

# this is just to close the loop, you can change this implementation to upload ova to some other system/storage
- name: Upload OVA to datastore
  community.vmware.vsphere_copy:
    hostname: "{{ lookup('env', 'VMWARE_HOST') | default(providers.vcenter.hostname) }}"
    username: "{{ lookup('env', 'VMWARE_USER') | default(providers.vcenter.username) }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD') | default(providers.vcenter.password) }}"
    src: "{{ export_dir }}/{{ template.name }}.ova"
    datacenter: "{{ providers.vcenter.datacenter }}"
    datastore: "{{ providers.vcenter.datastore | default('datastore2') }}"
    path: "{{ datastore_ova_folder }}/{{ template.name }}.ova"
    validate_certs: false
