---

- name: Provision and build Windows template
  block:
    - name: Build and upload Autounattend ISO
      ansible.builtin.include_tasks: make_iso.yml

    - name: Provision VM on vCenter
      ansible.builtin.include_tasks: provision_vm.yml

    - name: Add temporary WinRM host
      ansible.builtin.add_host:
        hostname: template_host
        ansible_host: "{{ template_vm_ip_address }}"
        ansible_user: "{{ unattend.local_accounts[0].name }}"
        ansible_password: "{{ unattend.local_accounts[0].password }}"
        ansible_port: "{{ vm_ansible_port | default('5986') }}"
        ansible_connection: winrm
        ansible_winrm_scheme: "{{ vm_ansible_winrm_scheme | default('https') }}"
        ansible_winrm_transport: "{{ vm_ansible_winrm_transport | default('credssp') }}"
        ansible_winrm_server_cert_validation: ignore
        ansible_winrm_operation_timeout_sec: 250
        ansible_winrm_read_timeout_sec: 280
        ansible_win_async_startup_timeout: 60

    - name: Run in-guest build role over WinRM
      ansible.builtin.include_role:
        name: "{{ windows_build_role }}"
        apply:
          vars:
            install_updates: true
            remove_apps: true
            clean_up_components: true
            upgrade_powershell: "{{ vm_upgrade_powershell | default('no') }}"
          delegate_to: template_host

    - name: Power off VM and remove CD-ROMs
      ansible.builtin.include_tasks: stop_vm.yml

    - name: Create snapshot (optional)
      ansible.builtin.include_tasks: create_snapshot.yml
      when: create_snapshot | bool

    - name: Convert VM to template
      ansible.builtin.include_tasks: convert_to_template.yml

    - name: Export OVF/OVA (optional)
      ansible.builtin.include_tasks: export_ovf.yml
      when: export_ovf | bool

  rescue:
    - name: Convert back to VM (rescue)
      ansible.builtin.include_tasks: convert_to_vm.yml

    - name: Remove VM (rescue)
      ansible.builtin.include_tasks: remove_vm.yml
      when: remove_vm_on_error | bool
    
    - name: set vm_failed variable
      ansible.builtin.set_fact:
        vm_failed: true

  always:
    - name: Remove Autounattend ISO from datastore
      ansible.builtin.include_tasks: datastore_iso_remove.yml

    - name: Remove temporary directory
      ansible.builtin.file:
        path: "{{ temp_directory }}"
        state: absent
      when: not (export_ovf | bool)

- name: fail if needed
  ansible.builtin.fail:
    msg: "fail to create a template: {{ template.name }}."
  when: vm_failed|bool
